/**
* starter: Can Duy Cat
* owner: Can Duy Cat
* last update: 16/05/2016
* type: sign in state css
*/

.app-name h2 {
    text-align: center;
    margin-top: 50px;
    font-family: Giddy;
    font-size: 80px;
    color: white;
}
#si-name {
    margin: 30px auto 0;
    display: block;
}
#si-name h2 {
    text-align: center;
    font-size: 35px;
}
#si-form {
    width: 85%;
    max-width: 260px;
    margin: 35px auto;
}
#si-form div {
    width: 100%;
    margin: 0;
}
.si-input {
    font-size: 16px !important;
    width: 100%;
    color: #646464 !important;
}
.si-link {
    font-size: 18px;
    display: block;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
}
