/**
* starter: Can Duy Cat
* owner: Can Duy Cat
* last update: 16/05/2016
* type: layer 0 css
*/

.a { border: 1px solid black !important; }

/* easi animate */
.easi-toggle-normal, .easi-fade-normal { overflow: hidden; transition: .5s linear all; }
.easi-toggle-fast, .easi-fade-fast { overflow: hidden; transition: .2s linear all; }
.easi-toggle-slow, .easi-fade-slow { overflow: hidden; transition: 1.0s linear all; }
.easi-toggle-fast.ng-hide, .easi-toggle-normal.ng-hide, .easi-toggle-slow.ng-hide { height: 0; }
.easi-fade-fast.ng-hide, .easi-fade-normal.ng-hide, .easi-fade-slow.ng-hide { opacity: 0; }

/* toastr */
/* success */
.easi-toast-success { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-success > div { background-color: #5C8B9D; box-shadow: 0 0 0; margin: auto; max-width: 400px; min-width: 200px; width: 50%; }
/* info */
.easi-toast-info { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-info > div { background-color: #8EB4C1; box-shadow: 0 0 0; margin: auto; max-width: 400px; min-width: 200px; width: 50%; }
/* error */
.easi-toast-error { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-error > div { background-color: #D65930; box-shadow: 0 0 0; margin: auto; max-width: 400px; min-width: 200px; width: 50%; }
/* warning */
.easi-toast-warning { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-warning > div { background-color: #63666F; box-shadow: 0 0 0; margin: auto; max-width: 400px; min-width: 200px; width: 50%; }

.loading-spinner svg { width: 50px; height: 50px; stroke: #444; }

/****
MENU BAR
****/

.app-button:before { color: #444; }
.bar { border: 0; }


/****
SEARCH-BOX
****/
/*.search-box {
	position: fixed;
	z-index: 1;
	top: 44px;
}

.app-content-searchbox { margin-top: 33px; }*/


/*************
NAME: CariGO
*************/
/**, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
}

ion-content {
	background: #f4f7f8;
}

form,
#request-list,
#request-detail-main {
	width: inherit;
	margin: 0 auto;
	background: #f4f7f8;
}

h1 {
	margin: 0 0 30px 0;
	text-align: center;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="time"],
textarea,
select {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #5c6770;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 20px;
}

input[type="date"] {
	width: 60%;
	display: inline-block;
}
input[type="time"] {
	width: 38%;
	display: inline-block;
}

select {
	padding: 6px;
	height: 40px;
	border-radius: 2px;
}

button {
	padding: 19px 0 19px 0;
	color: #FFF;
	background-color: #ff6600;
	font-size: 26px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 0;
	margin-bottom: 20px;
}

button[type="submit"] {
	background-color: #3366cc;
}

fieldset {
	margin-bottom: 10px;
	border: none;
}

legend {
	font-size: 1.4em;
	margin-bottom: 10px;
	border: 0;
}

label {
	display: block;
	margin-bottom: 8px;
}

label.light {
	font-weight: 300;
	display: inline;
}

.number {
	background-color: #3366cc;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 20px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}
*/