/**
* starter: Can Duy Cat
* owner: Can Duy Cat
* last update: 16/05/2016
* type: layer 0 css
*/

.a { border: 1px solid black !important; }
@font-face { font-family: Giddy; src: url(../font/GiddyupStd.otf); }
.easi-font { font-family: Giddy; }
.easi-center { text-align: center !important; }
.easi-left { text-align: left !important; }

/* easi animate */
.easi-toggle-normal, .easi-fade-normal { overflow: hidden; transition: .5s linear all; }
.easi-toggle-fast, .easi-fade-fast { overflow: hidden; transition: .2s linear all; }
.easi-toggle-slow, .easi-fade-slow { overflow: hidden; transition: 1.0s linear all; }
.easi-toggle-fast.ng-hide, .easi-toggle-normal.ng-hide, .easi-toggle-slow.ng-hide { height: 0; }
.easi-fade-fast.ng-hide, .easi-fade-normal.ng-hide, .easi-fade-slow.ng-hide { opacity: 0; }

/* toastr */
/* success */
.easi-toast-success { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-success > div { background-color: #5C8B9D; box-shadow: 0 0 0; margin: auto; max-width: 400px; min-width: 200px; width: 50%; }
/* info */
.easi-toast-info { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-info > div { background-color: #8EB4C1; box-shadow: 0 0 0; margin: auto; max-width: 400px; min-width: 200px; width: 50%; }
/* error */
.easi-toast-error { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-error > div { background-color: #D65930; box-shadow: 0 0 0; margin: auto; max-width: 400px; min-width: 200px; width: 50%; }
/* warning */
.easi-toast-warning { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-warning > div { background-color: #63666F; box-shadow: 0 0 0; margin: auto; max-width: 400px; min-width: 200px; width: 50%; }

.loading-spinner svg { width: 50px; height: 50px; stroke: #444; }

/* easi color */
.easi-red { color: #D65930 !important; }
.easi-white { color: #FFFFFF !important; }
.easi-gray { color: #63666F !important; }
.easi-light-gray { color: #E6E6E6 !important; }
.easi-blue { color: #8EB4C1 !important; }
.easi-dark-blue { color: #5C8B9D !important; }
.easi-vip-color { color: #FFCC00 !important; }
.easi-back-red { background-color: #D65930 !important; }
.easi-back-white { background-color: #FFFFFF !important; }
.easi-back-gray { background-color: #63666F !important; }
.easi-back-light-gray { background-color: #E6E6E6 !important; }
.easi-back-blue { background-color: #8EB4C1 !important; }
.easi-back-dark-blue { background-color: #5C8B9D !important; }
.easi-back-vip-color { background-color: #FFCC00 !important; }
.easi-full-blue { background-color: #8EB4C1 !important; height: 100vh !important; width: 100vw !important; }

/* easi bars */
.bar.bar-easi-blue { background-image: linear-gradient(0deg, #315050, #315050 50%, transparent 50%); border: 0; color: #fff; background-color: #5C8B9D; }
.bar.bar-easi-blue .title { color: #fff; }
.bar.bar-easi-blue.bar-footer { background-image: linear-gradient(180deg, #315050, #315050 50%, transparent 50%); }
.bar-easi-blue .button { background-color: #5C8B9D; border-color: #315050; color: #fff; }
.bar-easi-blue .button.activated, .bar-easi-blue .button.active { background-color: #315050; border-color: #315050; box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1); }
.bar-easi-blue .button.button-clear { background: 0 0; border-color: transparent; box-shadow: none; color: #fff; font-size: 17px; }
.bar-easi-blue .button.button-icon { background: 0 0; border-color: transparent; }

/* easi checkbox */
.checkbox-easi-blue .checkbox-icon:before, .checkbox-easi-blue input:before { border-color: #5C8B9D; }
.checkbox-easi-blue input:checked+.checkbox-icon:before, .checkbox-easi-blue input:checked:before { background: #5C8B9D; border-color: #5C8B9D; }

/* easi button */
.button.button-easi-blue, .button.button-easi-red { border: 0; border-radius: 0; color: #fff; }
.button.button-easi-blue.activated, .button.button-easi-blue.active, .button.button-easi-red.activated, .button.button-easi-red.active { border: 0; box-shadow: none; }
.button.button-easi-blue { background-color: #5C8B9D; }
.button.button-easi-blue.activated, .button.button-easi-blue.active { background-color: #538193; }
.button.button-easi-red { background-color: #D65930; }
.button.button-easi-red.activated, .button.button-easi-red.active { background-color: #538193; }

/****
MENU BAR
****/

.app-button:before { color: #fff; }
.bar { border: 0; }



/*************
NAME: CariGO
*************/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
}

ion-content {
	background: #fff;
}

h1 {
	margin: 0 0 30px 0;
	text-align: center;
}

h3,
h6 {
	margin: 0;
	padding: 0;
}



/**********
FORM ELEMENTS
***********/

.form {
	width: 100%;
	margin: 0 auto;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="number"],
.form input[type="tel"],
.form input[type="time"],
.form textarea,
.form select {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #5c6770;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 20px;
}

.form input[type="date"] {
	width: 60%;
	display: inline-block;
}

.form input[type="time"] {
	width: 38%;
	display: inline-block;
}

.form select {
	padding: 6px;
	height: 40px;
	border-radius: 2px;
}

.form button {
	padding: 19px 0 19px 0;
	color: #FFF;
	background-color: #ff6600;
	font-size: 26px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 0;
	margin-bottom: 20px;
}

.form button[type="submit"] {
	background-color: #5C8B9D;
}

.form fieldset {
	margin-bottom: 10px;
	border: none;
}

.form legend {
	font-size: 1.4em;
	margin-bottom: 10px;
	border: 0;
}

.form label {
	display: block;
	margin-bottom: 8px;
}

.form label.light {
	font-weight: 300;
	display: inline;
}

.form .number {
	background-color: #5C8B9D;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 20px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}
