<!-- starter: Can Duy Cat
   owner: Nguyen Minh Trang
   last update: 18-Sep-2015
   type: state template -->

<ion-view title="Học sinh lớp {{eSchool.getClass(classID).code}}">
  <ion-nav-buttons side="left">
	<button class="button button-icon button-clear ion-android-arrow-back style-button app-button" ui-sref="myClass"></button>
  </ion-nav-buttons>

  <div id="student">
	<div class="bar bar-header item-input-inset search-box">
	  <ion-search placeholder="Tìm kiếm" filter="search"></ion-search>
	</div>
	
	<ion-content padding="true" class="app-content-searchbox">
	  <ion-list id="student-list">
		<a class="item" data-ng-repeat="student in eSchool.classDetails[classID].pupils | filter:search.value" data-ng-click="review(student.profile.id)" ui-sref="newComment({student: student.infor.name})">
		  <h2>{{student.infor.name}}</h2>
		</a>
	  </ion-list>
	</ion-content>
  </div>
</ion-view>
