<!-- starter: Can Duy Cat
   owner: Can Duy Cat
   last update: 06-Sep-2015
   type: state template -->

<ion-view title="Giới thiệu">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-arrow-back app-button" data-ng-click="goBack()"></button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <div class="app-name-intro">
      <h2><span>Trường</span><span>Nhà</span></h2>
      <p class="text-center">Giải pháp Công nghệ Quản lý Giáo dục</p>
    </div>

    <div id="intro" >
      <p class="text-justify">
        <strong>Giới thiệu:</strong>
        Đây là phiên bản rút gọn của Dịch vụ phần mềm quản lý trường học Trường Nhà được cung cấp tại <a href="{{website}}">{{website}}</a>. Phiên bản rút gọn này chỉ có các chức năng thường dùng cho giáo viên và phụ huynh. 
      </p>

      <p>
        <strong>Tài khoản:</strong>
        Tài khoản đăng nhập chính là tài khoản sử dụng để đăng nhập <a href="{{website}}">{{website}}</a>.
      </p>

      <p>
        <strong>Phiên bản: </strong>{{version}} 
      </p>
      
      <p>
        <strong>Hỗ trợ:</strong>
        Nếu bạn là giáo viên hoặc phụ huynh hoặc người bảo trợ, xin vui lòng liên hệ với nhà trường để được hỗ trợ nhanh nhất. Nếu vẫn còn khó khăn, bạn có thể liên hệ với chúng tôi qua các kênh sau.
      </p>
        
      <div class="contact">
        <p>
  				<i class="icon ion-ios-email-outline"></i>
  				<a href="mailto:{{email}}?Subject='Hỗ trợ từ ứng dụng'">{{email}}</a>
  			</p>

  			<p>
  				<i class="icon ion-ios-telephone-outline"></i>
  				<a href="tel:+84{{tel}}">0{{tel}}</a>
  			</p>
      </div>
    </div>
  </ion-content>
</ion-view>