<!-- starter: Can Duy Cat
   owner: Can Duy Cat
   last update: 16/05/2016
   type: state template -->

<ion-view title="About Us">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-arrow-back app-button" data-ng-click="goBack()"></button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <div class="app-name-intro">
      <h2 class="easi-font text-center">CariGO</h2>
      <p class="text-center">Live the life you want</p>
    </div>

    <div id="intro" >
      <p class="text-justify">
        <strong>At the beginning,</strong>
        the software’s main users are consumers and shippers. Software will create an environment where user can order the delivery services and the orders will be submitted by service’s staff.
      </p>

      <p>
        <strong>Besides,</strong>
        softwareBesides, is also approach to people who want to earn income and participate in the system to create a Transporting Support Community. In this community, participants can order the delivery services or look for the other orders which are suitable with their capability.
      </p>

      <p>
        <strong>Version: </strong>{{version}} 
      </p>
      
      <p>
        <strong>Contact:</strong>
        
      </p>
        
      <div class="contact">
        <p>
  				<i class="icon ion-ios-email-outline"></i>
  				<a href="mailto:{{email}}?Subject='Support from CariGO application'">{{email}}</a>
  			</p>

  			<p>
  				<i class="icon ion-ios-telephone-outline"></i>
  				<a href="tel:{{tel}}">{{tel}}</a>
  			</p>
      </div>
    </div>
  </ion-content>
</ion-view>