<!-- starter: Can Duy Cat
   owner: Can Duy Cat
   last update: 18-Sep-2015
   type: menu panel template -->

<!-- HEADER -->
<ion-header-bar class="bar-stable">
  <h1 class="title">Chức năng</h1>
</ion-header-bar>

<!-- ALL MENU ITEM -->
<ion-content id="sm-content">
  <div class="list">
    <a class="item item-icon-left" data-ng-click="eDatabase.refresh()" ui-sref="myClass" menu-close>
      <i class="icon ion-android-clipboard"></i>
      Lớp của tôi
    </a>

    <a class="item item-icon-left" data-ng-click="eDatabase.loadTeacher()" ui-sref="teacher" menu-close>
      <i class="icon ion-android-contacts"></i>
      Đội ngũ cán bộ
    </a>

    <a class="item item-icon-left" data-ng-click="eDatabase.loadSchool()" ui-sref="school" menu-close>
      <i class="icon ion-briefcase"></i>
      Thông tin nhà trường
    </a>

    <a class="item item-icon-left" data-ng-click="eDatabase.loadProfile()" ui-sref="myProfile" menu-close>
      <i class="icon ion-android-contact"></i>
      Thông tin cá nhân
    </a>

    <a class="item item-icon-left" ui-sref="introduction" menu-close>
      <i class="icon ion-ios-information"></i>
      Giới thiệu
    </a>

    <a class="item item-icon-left" data-ng-click="eDatabase.signOut()" menu-close>
      <i class="icon ion-android-exit"></i>
      Đăng xuất
    </a>
  </div>
</ion-content>
