<!-- starter: Can Duy Cat
   owner: Can Duy Cat
   last update: 16/05/2016
   type: menu panel template -->

<!-- HEADER -->
<ion-header-bar class="bar-easi-blue">
  <h1 class="title">Functions</h1>
</ion-header-bar>

<!-- ALL MENU ITEM -->
<ion-content id="sm-content">
  <div class="list">
    <a class="item item-icon-left" ui-sref="bookDeliveryService" menu-close>
      <i class="icon ion-plus-circled"></i>
      Book delivery service
    </a>

    <a class="item item-icon-left" ui-sref="trackMyRequest" menu-close>
      <i class="icon ion-android-clipboard"></i>
      Track my requests
    </a>

    <a class="item item-icon-left" onclick="" menu-close>
      <i class="icon ion-android-search"></i>
      Look for request
    </a>

    <a class="item item-icon-left" ui-sref="myProfile" menu-close>
      <i class="icon ion-android-contact"></i>
      My Profile
    </a>

    <a class="item item-icon-left" ui-sref="myProfile" menu-close>
      <i class="icon ion-help-buoy"></i>
      Report problems
    </a>

    <a class="item item-icon-left" ui-sref="introduction" menu-close>
      <i class="icon ion-ios-information"></i>
      About Us
    </a>

    <a class="item item-icon-left" onclick="signOut()" menu-close>
      <i class="icon ion-android-exit"></i>
      Sign Out
    </a>
  </div>
</ion-content>
