<!-- starter: Can Duy Cat
   owner: Can Duy Cat
   last update: 02-Sep-2015
   type: state template -->

<ion-view title="Nhận xét gần đây">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-home" ng-click=""></button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <div class="button-bar">
        <a href="#" class="button button-stable button-block ">Xem nhận xét của tôi</a>
        <button class="button button-stable button-block ">Xem nhận xét theo lớp</button>
    </div>
    <div class="list list-inset">
    <label class="item item-input">
     <p> Lớp 4C </p>
     <i class=" icon-position icon ion-arrow-down-b placeholder-icon"></i>
     </label>
    </div>
    <div>
      <ul class="list">
        <li class="item">
          Nguyễn Quỳnh Anh
        </li>
        <li class="item">
          Phạm Ngọc Bảo Châm
        </li>
        <li class="item">
          Nguyễn Ngọc Duy
        </li>
        <li class="item">
          Lưu Xuân Đắc
        </li>
      </ul>
    </div>
     <label class="item item-input item-select">
    <div class="input-label">
      NHẬN XÉT
    </div>
    <select>
      <option>Tất cả nhận xét</option>
      <option selected>Nhận xét chung</option>
      <option>Tiếng việt</option>
      <option>Toán</option>
      <option>TNXH/ Khoa học</option>
      <option>Lịch sử - Địa lí</option>
      <option>Đạo đức</option>
    </select>
  </label>
    <div>
        <p>
            <strong>Kiến thức</strong>
        </p>
        
        <p type= "text">abc</p>
      
        <p>
            <strong>Năng lực</strong>
        </p>

        <p>def</p>

        <p>
            <strong>Phẩm chất</strong>
        </p>

        <p>ghj</p>
    </div>
  </ion-content>
</ion-view>