<!-- starter: Can Duy Cat
   owner: Nguyen Minh Trang
   last update: 18-Sep-2015
   type: state template -->

<ion-view title="Request Details">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-android-arrow-back app-button" data-ng-click="goBack()"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
		<div id="request-detail-main" class="form">
			<form action="#" method="POST">
				<fieldset>
					<label for="cargo_type">Type Of Cargo:</label>
					<select id="cargo_type" name="cargo_type" ng-model="request.rTypeOfCargo">
						<option value="food" selected>Food</option>
						<option value="furniture">Furniture</option>
						<option value="equipment">Equipment</option>
						<option value="other">Other</option>
					</select>
					<label for="from_loc">From Location:</label>
					<input type="text" id="from_loc" name="from_loc" ng-model="request.rFromLocation" required></input>
					<label for="to_loc">To Location:</label>
					<input type="text" id="to_loc" name="to_loc" ng-model="request.rToLocation" required></input>
					<label for="date">Delivery Time:</label>
					<input type="date" id="date" name="date" ng-model="request.rDeliveryDate" required></input>
					<input type="time" id="time" name="time" ng-model="request.rDeliveryTime" required></input>
					</select>
					<label for="special">Special Requirements:</label>
					<textarea id="special" name="special" ng-model="request.rSpecialRequirement"></textarea>
				</fieldset>
				<button ng-click="deleteRequest()">Delete</button>
				<button type="submit" ng-click="saveChange()">Save</button>
			</form>
		</div>
	</ion-content>
</ion-view>
