<!-- starter: Can Duy Cat
   owner: Nguyen Minh Trang
   last update: 07-Sep-2015
   type: state template -->

<ion-view title="Nhận xét mẫu">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-arrow-back style-button app-button" ui-sref="newComment"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-add style-button app-button" ng-click="addNewSample()"></button>
  </ion-nav-buttons>

  <div id="sample">
	<div class="bar bar-header item-input-inset search-box">
	  <ion-search placeholder="Tìm kiếm" filter="search"></ion-search>
	</div>
	
	<ion-content padding="true" class="app-content-searchbox">
	  <ion-list id="sample-list">
		<a class="item" data-ng-repeat="sample in samples | filter:search.value" ui-sref="newComment({sample: sample.name})">
		  <h2>Mẫu {{sample.name}}</h2>
		</a>
	  </ion-list>
	</ion-content>
  </div>
</ion-view>