<!-- starter: Can Duy Cat
   owner: Nguyen Minh Trang
   last update: 11-Sep-2015
   type: state template -->

<ion-view title="Đội ngũ cán bộ">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-menu style-button app-button" ng-click="toggleLeft()"></button>
  </ion-nav-buttons>

  <div id="teacher">
	<div class="bar bar-header item-input-inset search-box">
	  <ion-search placeholder="Tìm kiếm" filter="search"></ion-search>
	</div>
	
	<ion-content padding="true" class="app-content-searchbox">
	  <ion-list id="teacher-list">
		<ion-item data-ng-repeat="teacher in eSchool.teachers | orderBy:'name' | filter:search.value">
		  <h2>{{teacher.name}}</h2>
		  <p>{{teacher.position}}</p>
		</ion-item>
	  </ion-list>
	</ion-content>
  </div>
</ion-view>