<!-- starter: Can Duy Cat
   owner: Nguyen Minh Trang
   last update: 11-Sep-2015
   type: state template -->

<ion-view title="Track the Requests">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-android-menu style-button app-button" ng-click="toggleLeft()"></button>
	</ion-nav-buttons>
	
	<ion-content padding="true" class="app-content-searchbox">
		<div id="request-list" data-ng-repeat="request in requestList">
			<div class="{{request.dStatus == 'unserved' ? 'item':'item served'}}" ng-click="viewRequestDetails(request.dRequestID)">
				<div class="item-info">
					<h3>{{request.dTypeOfCargo}}</h3>
					<h6>From: {{request.dFromLocation}}</h6>
					<h6>To: {{request.dToLocation}}</h6>
				</div>
				<div class="delivery-info">
					<div class="delivery-man-number">
						<img src="../img/delivery-man.png" alt="delivery-man" />
						<label>{{request.dDeliveryManNum}}</label>
					</div>
					<div class="min-money">
						<label>MIN: {{request.dMinMoney}}</label>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>